@font-face {
    font-family: "Roboto";
    font-weight: 0 1000;
    src: url("./Roboto(flexVariable).ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "SF PRO";
    font-weight: 0 1000;
    src: url("./SF-Pro.ttf") format('truetype');
    font-display: swap;
}
