* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #iphone-wrapper {
    background: linear-gradient(
        197deg,
        rgba(0, 0, 0, 0) 10.43%,
        rgba(21, 5, 52, 0.64) 30.66%,
        rgba(0, 0, 0, 0.86) 37.66%,
        rgba(9, 1, 25, 0.95) 45.57%,
        rgba(0, 0, 0, 0.95) 77.38%,
        rgba(5, 1, 14, 0.95) 94.32%
      ),
      top left/cover no-repeat url("./images/background/bg@2x.png");
    .iphone-app-images__item:first-child {
      background: top left/cover no-repeat url("./images/Art/f1@2x.png");
    }
    .iphone-app-images__item:nth-child(2) {
      background: top left/cover no-repeat url("./images/Exclussive/f2@2x.png");
    }
    .iphone-app-images__item:last-child {
      background: top left/cover no-repeat url("./images/Avatars/f3@2x.png");
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  #iphone-wrapper {
    background: linear-gradient(
        197deg,
        rgba(0, 0, 0, 0) 10.43%,
        rgba(21, 5, 52, 0.64) 30.66%,
        rgba(0, 0, 0, 0.86) 37.66%,
        rgba(9, 1, 25, 0.95) 45.57%,
        rgba(0, 0, 0, 0.95) 77.38%,
        rgba(5, 1, 14, 0.95) 94.32%
      ),
      // linear-gradient(137deg, #da28ff 3.34%, #7fccff 92.15%),
      top left/cover no-repeat url("./images/background/bg@3x.png");
  }
  .iphone-app-images__item:first-child {
    background: top left/cover no-repeat url("./images/Art/f1@3x.png");
  }
  .iphone-app-images__item:nth-child(2) {
    background: top left/cover no-repeat url("./images/Exclussive/f2@3x.png");
  }
  .iphone-app-images__item:last-child {
    background: top left/cover no-repeat url("./images/Avatars/f3@3x.png");
  }
  .button-continue {
    margin-top: calc(var(--vh, 1vh) * 1.1);
    margin-bottom: calc(var(--vh, 1vh) * 3.1);
  }

  .iphone-home-indicator {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    height: calc(var(--vh, 1vh) * 0.6);
    border-radius: 100px;
    background: #fff;
    width: 34.4vw;
  }
}

#iphone-wrapper {
  font-family: "SF PRO";
  position: relative;
  height: 100%;
  background-blend-mode: multiply;
}
.iphone-status-bar {
  padding: 3px 6px 0;
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
  & div {
    color: white;
    font-size: 0.75rem;
    height: 100%;
  }
  & div:not(.iphone-status-bar__time) {
    font-variation-settings: "wght" 400;
  }
  &__time {
    font-variation-settings: "wght" 600;
  }
}
.iphone-status-bar-group {
  display: flex;
  &__signal {
    width: 1rem;
    background: url("./images/MobileSignal.png") no-repeat;
  }

  &__carrier {
    line-height: 10px;
  }

  &__wifi {
    width: 0.88rem;
    background: url("./images/Wifi.png") no-repeat;
  }

  &__bluetooth {
    width: 6px;
    background: url("./images/Bluetooth.png") no-repeat;
  }

  &__procent,
  &__carrier {
    margin: 0 0.25rem;
  }

  &__battery {
    width: 27px;
    background: url("./images/Battery.png") no-repeat;
  }
}

.iphone-app {
  padding: 0 1.5rem;
  &-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--vh, 1vh) * 5.9);
    & &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 11px 7px;
      font-variation-settings: "wght" 400;
      font-size: 11px;
      width: 27.85vw;
      height: calc(var(--vh, 1vh) * 21.98);
      border-radius: 10.8px;
      color: #fff;
      & span {
        width: 5rem;
        height: 1.7rem;
      }
    }
  }
  &-buttons {
    display: flex;
    flex-direction: column;
    gap: calc(var(--vh, 1vh) * 1);
    margin-bottom: calc(var(--vh, 1vh) * 3);
    & > button {
      font-family: "SF PRO";
      width: 100%;
      height: 3.5rem;
      border-radius: 2rem;
      border: none;
      & div:nth-child(2) {
        text-align: left;
        max-width: 4.3rem;
      }
      & span {
        display: block;
      }
      & .access__price {
        font-weight: 400;
        opacity: 0.7;
      }
      & .access {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-grow: 1;
        & .access__period {
          font-weight: 600;
          text-transform: uppercase;
        }
      }
      & .additional-button {
        display: block;
        position: absolute;
        top: -24%;
        right: 7%;
        padding: 2px 21px 3px 21px;
        max-width: 7.4rem;
        width: 100%;
        color: #141131;
        font-family: "Roboto";
        font-variation-settings: "wght" 700;
        font-size: 13px;
        text-transform: uppercase;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
      }
    }
    &>.subscribe-button{
      
      display: flex;
      align-items: center;
      position: relative;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      font-size: 16px;
      line-height: normal;
      padding: 0 3.5rem 0 1.5rem;
      
    }
    &>.active-button{
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.3);
    }
    // & button:first-child,
    // button:nth-child(2) {
     
    // }
    // & button:nth-child(2) {
    //  
    // }
    & button:last-child {
      background: rgba(255, 255, 255, 1);
      font-variation-settings: "wght" 590;
      font-size: 1.25rem;
      line-height: 1.5rem;
      color: #070b33;
    }
  }

  &-cookies {
    margin: 0 auto;
    width: 70vw;
    & > ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      & > li > a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.78rem;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.577px;
      }
    }
  }
}

h1 {
  font-variation-settings: "wght" 860;
  text-align: center;
  color: white;
  font-size: 42px;
  text-shadow: 0px 0px 3rem rgba(4, 3, 26, 0.83);
  line-height: 46px;
  margin: 10vh 0 5vh 0;
}
